openai  # OpenAI API for text summarization
langchain  # Langchain for secure data storage
bert-extractive-summarizer==0.5.0  # For text summarization
nltk  # Natural language processing library
streamlit
